.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  max-width: 1128px;
}
.gallery-item {
  max-width: 360px;
  max-height: 200px;
}
.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery-item a:hover .gallery-image {
  transform: scale(1.044);
  transition: 0.3s ease-in-out;
}

.sl-overlay {
  background: rgba(46, 47, 66, 0.8) !important;
}

.sl-close {
  color: #fff !important;
  font-size: 36px !important;
  border: none;
}

.sl-close:hover {
  transform: scale(1.1);
}

.sl-next,
.sl-prev {
  color: #fff !important;
}

.sl-counter {
  color: #fff !important;
}